body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 7vh;
  padding: 0 1rem;
  background-color: #736357;
  color: #a8c9dd;
}

a{
  color: #a8c9dd;
}

h4{
  margin: 10px;
  cursor: pointer;
}

.app-name{
  margin-right: auto;
}

#background{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: flex-end
}

.dancer-container{
  overflow-y: scroll;
  height: 30vh;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 25px 0px 25px;
}


.dancer-thumbnail{
  border-radius: 50%;
  float: left;
  background-color: gray;
  height: 50%;
  width: 22.5%;
  margin: 10px 5px 10px 5px;
  display: flex;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}

.dancer-thumbnail:last-child{
  margin-right: auto;
}

.dancer-thumbnail:hover{
  background-color: white;
}

.dancer-wrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
}

.dancer-wrapper:hover{
  border: 1px solid white;
}

.dancer-wrapper:hover .remove-dancer{
  display: inline-block;
  width: 10%
}

.remove-dancer{
  display: none;
}

.dancer{
  height: 250px;
  width: 250px;
}

.songs-container{
  display:flex;
  flex-direction: column;
}

.song{
  color: #00B4CC;
  text-align: center;
  cursor: pointer;
}

.song:hover{
  color: white;
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes confetti-slow {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }

  100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
}

@keyframes confetti-medium {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }

  100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
}

@keyframes confetti-fast {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }

  100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
}

.confetti-animation-slow{
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
  animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti-animation-medium{
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
  animation: confetti-medium 2.25s linear 1 forwards;
}

.confetti-animation-fast{
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
  animation: confetti-fast 2.25s linear 1 forwards;
}

.wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.searchbar{
  width: 85%;
  border: 3px solid #00B4CC;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.searchbutton{
  position:absolute;
  right: 35px;
  height: 29px;
  border-radius: 5px;
  background: #00B4CC;
  color: white;
  border: 1px solid #00B4CC;
  font-size: 20px;
}

audio{
  width: 5%;
}
